.help__form {
  font-family: "Geometry-ExtraBold";

  &-title {
    margin-bottom: 5px;
    font-size: 44px;

    @media (max-width: 800px) {
      font-size: 25px;
    }
  }

  &-text {
    margin-bottom: 30px;

    font-size: 12px;
    font-family: 'Geometry';
    font-weight: 700;
  }
}