@font-face {
  font-family: Geometry;
  src: url(../../fonts/Geometria/Geometria.ttf);
}

@font-face {
  font-family: Geometry-ExtraBold;
  src: url(../../fonts/Geometria/Geometria-ExtraBold.ttf);
}

@font-face {
  font-family: Geometry-Bold;
  src: url(../../fonts/Geometria/Geometria-Bold.ttf);
}

@font-face {
  font-family: "Gillroy";
  src: url(../../fonts/Gilroy-FREE/Gilroy-Light.otf);
}

@font-face {
  font-family: "Gillroy-light";
  src: url(../../fonts/Gilroy-FREE/Gilroy-Light.otf);
}
